@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Consolas, 'Cascadia Code', ui-monospace, SFMono-Regular, Menlo, Monaco, 'Liberation Mono',
    'Courier New', monospace;
}

